bin/
obj/
out/
publish/

*.user
*.suo
*.userosscache
*.sln.docstates

.idea/
.vscode/
*.code-workspace

*.nupkg

*.log
*.Logs

wwwroot/lib/
wwwroot/node_modules/

node_modules/
npm-debug.log
yarn-error.log

[Dd]esktop.ini
[Tt]humbs.db
*.DS_Store

*.dbmdl

*.pubxml.user

.sentry/
.ReSharper*/

appsettings.Development.json
appsettings.Local.json